-
    var menu_items = [
        {   name: "Home", link: "/" },
        {   name: "About", link: "/about" },
        {   name: "Running", link: "/running" },
        {   name: "Blog", link: "/blog" },
        {   name: "Contact", link: "/contact" }
    ]